div {
  border-radius: 3px;
}

#header {
  z-index: 1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #2f4f4f;
  position: fixed;
  width: 97.5%;
  margin-top: -20px;
  height: 60px;
  background-color: #faebd7;
  margin-bottom: 10px;
}

#footer {
  position: fixed;
  height: 50px;
  background-color: #faebd7;
  font-family: Arial, sans-serif;
  font-size 14px;
  color: #2f4f4f
  text-align: center;
}
